#testim {
  /* background-color: #E1EBEE; */
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 20px;
  padding: 20px;
}

#testim .testim {
  width: 100%;
  display: flex-root;
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  margin: 0 auto;
  padding: 100px 0;
}

:root {
  --main-color: #6ee9f5;
  --secound-color: #002244;
  ;
}

.testim-container {
  width: 100%;
  margin: auto;
}

/* start testimonails */
.testim {
  position: relative;
  padding: 80px 60px;
}

.testim h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}


.testim-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding-top: 20px;

}

.testim-box {
  z-index: 2;
  background-color: var(--secound-color);
  padding: 20px 30px;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.75) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: 0.3s ease-in-out;
}


.testim-box:hover {
  transform: translateY(20px);
}


.testim-box-content img {
  top: -10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  position: relative;

}

.testim-content h3 {
  color: #fff;
  font-size: 1.3rem;
}

.testim-box>p {
  color: rgb(209, 194, 194);
  font-style: italic;
  padding-bottom: 20px;
}

.testim-box-content p {
  color: var(--main-color);
}


@media(max-width:767px) {
  .testim-content {
    display: grid;
    align-items: center;
  }
  .card {
    margin-bottom: 20px;
  }
}