/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700"); */

/* * {
	box-sizing: border-box;
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: #318CE7;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid #318CE7;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: #318CE7;
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.brand h1 span {
    color: #318CE7;
}

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: #318CE7;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

.box {
    width: 100%;
    height: 100%;
}

.box1 {
    /* object-fit: cover;
    object-fit: contain; */
    object-fit: fill;
    width: 100%;
    height: 100%;
}


#hero video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/* End Header section */

/* Hero Section */
#hero {
    background-image: url(./img/hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    /* animation: text_reveal_name 0.5s ease forwards; */
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #318CE7;
    animation: text_reveal_box 1s ease;
    animation-delay: 0.5s;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

/* End Hero Section */

/* About Section */

#about {
    background-color: #E1EBEE;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 20px;
    padding: 20px;
}

#about .about {
    width: 100%;
    display: flex-root;
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
    padding: 100px 0;


}

.about p {
    font-size: 2rem;
    letter-spacing: 0.08rem;
    font-weight: 500;
    margin-top: 25px;
    text-align: center;



}


.about-bottom {
    padding-top: 60px;
}

.custom-margin {

    display: flex;
    justify-content: center;
}

/* #about .about  */

.underline::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #318CE7;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.underline:hover::after {
    width: 100%
}

.underline:hover::before {
    transform: scaleX(1);
}


/* .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

/* End ABout Section */

/* What We do */

#what-we-do {
    background-color: #E1EBEE;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 20px;
    z-index: 1;
}

#what-we-do .what-we-do {
    width: 100%;
    display: flex-root;
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
    padding: 100px 0;
}

.cu-bottom {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border-radius: 40px;
}

.cu-bottom::before {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-radius: 40px;
}

/* End What we do */

/* Services Section */
#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top {
    max-width: 500px;
    margin: 0 auto;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    color: white;
    text-align: left;
}

/* End Services Section */

/* Projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.7;
}

#projects .project-img img {
    transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* End Projects section */


/* End About Section */

/* contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/*End contact Section */

/* Footer */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}

/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: #318CE7;
        font-weight: 500;
    }
}

/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }

    /* End Hero */

    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* End Services Section */

    /* Project */
    #projects .project-item {
        flex-direction: row;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }

    /* End Project */

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid #318CE7;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    /* End About */

    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }

    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }

    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }

    #contact .contact-item .icon img {
        object-fit: contain;
    }

    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    /* End contact  */
}

/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

    /* header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    /* End header */

    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
}

/* End  Media Query For Desktop */
/* #about-us{
    /* background: #2c91aa;
} */
*/ body {
    background: rgb(160, 158, 158);
}

.tilesWrap {
    padding: 0;
    margin: 50px auto;
    list-style: none;
    text-align: center;
}

.btn {
    padding-top: 10px;
}

.tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 400px;
    max-width: 230px;
    padding: 80px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: #262a2b;
    border: 1px solid #252727;
    text-align: left;
}

.tilesWrap li h2 {
    font-size: 114px;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
    font-size: 20px;
    /* color: #b7b7b7; */
    color: white;
    margin-bottom: 5px;
}

.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #fffdfd;
    margin-top: 5px;
}

.tilesWrap li button {
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.tilesWrap li button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

}

.tilesWrap li:hover button {
    transform: translateY(30px);
    opacity: 1;
}

.tilesWrap li button:hover {
    color: #262a2b;
}

.tilesWrap li button:hover:before {
    left: 0;
    opacity: 1;
}

.tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.6;
}

.tilesWrap li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;

    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:nth-child(1):before {
    background: #C9FFBF;
    background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF);
    background: linear-gradient(to right, #FFAFBD, #C9FFBF);
}

.tilesWrap li:nth-child(2):before {
    background: #f2709c;
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c);
}

.tilesWrap li:nth-child(3):before {
    background: #c21500;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(4):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}

.tilesWrap li:nth-child(5):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(6):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(7):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500);
}

.tilesWrap li:nth-child(8):before {
    background: #FC354C;
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C);
}




/* ------------------- */


@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
  --color: rgba(30, 30, 30);
  --bgColor: rgb(215, 215, 215);
  min-height: 100vh;

  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;

  font-family: "Oxygen", sans-serif;
  color: var(--color);
  background: var(--bgColor);
} */

.services-2 h1 {
    text-align: center;
}

.services-2 ol {
    width: min(300rem, 100%);
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

    list-style: none;
    counter-reset: cardnr;
    justify-content: center;
}

.services-2 li {
    --frontColor: white;
    --width: 35em;
    --inlineP: .5rem;
    --borderR: 4rem;
    --arrowW: 2rem;
    --arrowH: 1.5rem;

    counter-increment: cardnr;
    width: calc(var(--width) - var(--inlineP) * 2);
    display: grid;
    grid-template:
        "icon" var(--borderR) "title"
        "descr" 1fr;
    margin-inline: var(--inlineP);
    margin-bottom: calc(var(--borderR));
    position: relative;
}

.services-2 li .icon,
li .title,
li .descr {
    background: var(--frontColor);
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.services-2 li .icon,
li .title {
    color: var(--accent-color);
    text-align: center;
    padding-bottom: 0.5rem;
}

.services-2 li .title,
li .descr {
    filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
}

.services-2 li .icon {
    grid-area: icon;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: var(--borderR) 0 0 0;
    position: relative;
}

.services-2 li .title {
    grid-area: title;
    font-size: 3.1rem;
    font-weight: bold;
}

.services-2 li .descr {
    grid-area: descr;
    font-size: 2.85rem;
    text-align: center;
}

.services-2 li .descr::before {
    content: "";
    width: var(--arrowW);
    height: var(--arrowH);
    position: absolute;
    right: 1.5rem;
    top: 100%;
    background: inherit;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.services-2 li::after {
    content: counter(cardnr, decimal-leading-zero);
    position: absolute;
    z-index: -1;

    left: calc(var(--inlineP) * -1);
    right: calc(var(--inlineP) * -1);
    top: var(--borderR);
    bottom: calc(var(--borderR) * -1);

    display: flex;
    align-items: flex-start;
    background: var(--accent-color);
    background-image: linear-gradient(160deg,
            rgba(255, 255, 255, 0.25),
            transparent 25% 75%,
            rgba(0, 0, 0, 0.25));
    border-radius: 0 0 var(--borderR) 0;

    --pad: 1rem;
    padding: var(--pad);
    font-size: calc(var(--borderR) - var(--pad) * 2);
    color: white;
}

.services-2 li::before {
    content: "";
    position: absolute;
    height: var(--borderR);
    top: calc(100% + var(--borderR) - 2px);
    left: calc(var(--inlineP) * -1);
    right: calc(var(--inlineP) * -1);
    border-radius: 0 var(--borderR) 0 0;

    background-image: linear-gradient(var(--accent-color), transparent 60%);
    opacity: 0.5;
    filter: blur(2px);
}

.services-2 .credits {
    margin-top: 2rem;
    text-align: right;
}

.services-2 .credits a {
    color: var(--color);
}

/* ---------------------------------------------------------- */




/* ----------------------- */

/* Slideshow container */

/* .mySlides{
    background-color: red;
} */
/* .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
} */

/* .slideshow-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* Caption text */
/* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
} */

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


/* .slideshow-container img{
    max-width: 1200px;

    max-height: 400px;
} */

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

.slide-box{
    background-color: #0ABFBC;
    border-radius: 30px;
    overflow: hidden;
    max-width: 1200px;
    align-items: center;
}

.slide-box img{
    object-fit: fill;
    
}