/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800'); */
/* * {
  box-sizing: border-box;
}
#what-we-do {
    background-color: #E1EBEE;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 20px;
    z-index: 1;
}

#what-we-do .what-we-do {
    width: 100%;
    display: flex-root;
    align-items: center;
    justify-content: center;
    max-width: 1700px;
    margin: 0 auto;
    padding: 100px 0;
} */

/* .cu-bottom {
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    border-radius: 40px;
} */

/* .cu-bottom::before {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-radius: 40px;
} */

/* body {
    background: rgb(160, 158, 158);
} */

.tilesWrap {
    padding: 0;
    margin: 50px auto;
    list-style: none;
    text-align: center;
}

.btn {
    padding-top: 10px;
}

.tilesWrap li {
    display: inline-block;
    width: 20%;
    min-width: 400px;
    max-width: 230px;
    padding: 80px 20px 40px;
    position: relative;
    vertical-align: top;
    margin: 10px;
    font-family: 'helvetica', san-serif;
    min-height: 25vh;
    background: #262a2b;
    background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,104,255,0.5) 100%);
    border: 1px solid #252727;
    text-align: left;
}

.tilesWrap li h2 {
    font-size: 6rem;
    margin: 0;
    position: absolute;
    opacity: 0.2;
    top: 50px;
    right: 10px;
    transition: all 0.3s ease-in-out;
}

.tilesWrap li h3 {
    font-size: 20px;
    color: #b7b7b7;
    color: white;
    margin-bottom: 10px;
    text-align: center;

}


.tilesWrap li p {
    font-size: 16px;
    line-height: 18px;
    color: #fffdfd;
    margin-top: 5px;
    text-align: center;
    
}

.tilesWrap li button {
    background: transparent;
    border: 1px solid #b7b7b7;
    padding: 10px 20px;
    color: #b7b7b7;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
}

.tilesWrap li button:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: #b7b7b7;
    top: 0;
    opacity: 0;
    left: -140px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;

}

.tilesWrap li:hover button {
    transform: translateY(30px);
    opacity: 1;
}

.tilesWrap li button:hover {
    

    color: #C9FFBF;
}

.tilesWrap li button:hover:before {
    left: 0;
    opacity: 1;
}

.tilesWrap li:hover h2 {
    top: 0px;
    opacity: 0.6;
}

.tilesWrap li:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;

    bottom: -2px;
    z-index: -1;
    background: #fff;
    transform: skew(2deg, 2deg);
}

.tilesWrap li:after {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.02);
}

.tilesWrap li:nth-child(1):before {
    background: #C9FFBF;
    /* background: -webkit-linear-gradient(to right, #FFAFBD, #C9FFBF); */
    /* background: linear-gradient(to right, #FFAFBD, #C9FFBF); */
    background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,104,255,0.5) 100%);
}

.tilesWrap li:nth-child(2):before {
    background: #f2709c;
    /* background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c); */
    background-image: linear-gradient( 35.2deg,  rgba(0,119,182,1) -18.7%, rgba(8,24,68,1) 54.3% );
}

.tilesWrap li:nth-child(3):before {
    background: #c21500;
    /* background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500); */
    background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,104,255,0.5) 100%);

}

.tilesWrap li:nth-child(4):before {
    background: #FC354C;
    /* background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C); */
    background-image: linear-gradient( 35.2deg,  rgba(0,119,182,1) -18.7%, rgba(8,24,68,1) 54.3% );
}

.tilesWrap li:nth-child(5):before {
    background: #FC354C;
    /* background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500); */
    background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,104,255,0.5) 100%);
}

.tilesWrap li:nth-child(6):before {
    background: #FC354C;
    /* background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(to right, #ffc500, #c21500); */
    background-image: linear-gradient( 35.2deg,  rgba(0,119,182,1) -18.7%, rgba(8,24,68,1) 54.3% );
}

.tilesWrap li:nth-child(7):before {
    background: #FC354C;
    /* background: -webkit-linear-gradient(to right, #ffc500, #c21500); */
    background: linear-gradient(to right, #ffc500, #c21500);
    background: linear-gradient(8deg, rgba(2,0,36,1) 0%, rgba(0,104,255,0.5) 100%);
}

.tilesWrap li:nth-child(8):before {
    background: #FC354C;
    /* background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    background: linear-gradient(to right, #0ABFBC, #FC354C); */
    background-image: linear-gradient( 35.2deg,  rgba(0,119,182,1) -18.7%, rgba(8,24,68,1) 54.3% );
}